@charset "utf-8"; 

/*Font-family: 'Spoqa Han Sans';*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

/* * @ RESET CSS * ------------------------------- */ 
html, body, div, p, span, strong, b, em, iframe, pre, 
h1, h2, h3, h4, h5, h6, 
img, dl, dt, dd, fieldset, form, legend, label, 
table, caption, thead, tbody, tfoot, tr, th, td, 
ul, ol, li, a, input, select, textarea {margin: 0;padding: 0; border: 0 none; } 

ul, ol, li {list-style:circle;} 
em, address {font-style: normal;} 
img {border: 0 none; font-size: 0;line-height: 0;} 
sup {position: relative;top: 2px;font-size: 11px;line-height: 100%;} 

table {border-collapse: collapse; border-spacing:0; } 
caption {overflow: hidden;width: 0;height: 0;font-size: 0; line-height: 0;} 
th, td { vertical-align: middle;/* white-space: nowrap */} 

/*
a {color: #333; text-decoration: none; line-height: 1;} 
a:hover, a:focus, a:active {text-decoration: underline;} 
a:visited {color: #333;} 
*/
*, html {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*, *:before, *:after {box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}


/* Color Palette */

:root {
    --white: #ffffff;
    --black: #000000;
    --primary-softblue: hsl(215, 51%, 70%);
    --primarycyan: hsl(178, 100%, 50%);
    --neutralmainbg: hsl(217, 54%, 11%);
    --neutralcardbg:hsl(216, 50%, 16%);
    --neutralline:hsl(215, 32%, 27%);
    --gray100: #080808;
    --gray200: #141414;
    --gray300: #191919;
    --gray400: #2a2a2a;
    --gray500: #373737;
    --gray600: #4c4c4c;
    --gray700: #858585;
    --gray800: #ececec;
    --gray900: #f6f6f6;
  }

/*=========================================================*/
@font-face {
    font-family: "Suite";
    src: url("SUITE-Light.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Suite";
    src: url("SUITE-Regular.otf");
    font-weight: 400;
}        
@font-face {
    font-family: "Suite";
    src: url("SUITE-Medium.otf");
    font-weight: 500;
}       
@font-face {
    font-family: "Suite";
    src: url("SUITE-SemiBold.otf");
    font-weight: 600;
}       
@font-face {
    font-family: "Suite";
    src: url("SUITE-Bold.otf");
    font-weight: 700;
}       
@font-face {
    font-family: "Suite";
    src: url("SUITE-ExtraBold.otf");
    font-weight: 800;
}       
@font-face {
    font-family: "Suite";
    src: url("SUITE-Heavy.otf");
    font-weight: 900;
}      

html {
    background-color: #151515;
    Font-family: 'Suite';
    color: #4c4c4c;
}

body {
    font-size: 1vw;
    line-height: 1.7;
    word-break: keep-all;
    padding-top: 5vh;
    padding-bottom: 5vh;
    transition: background-color 3s ease-in, color 3s ease-in;
}

main {
    width: 70vw;
    min-height: 100vh;
    margin: 0 15vw 0 15vw;
    background-color: inherit;
    padding: 0 2vw 2vw 2vw;
    border: #151515;
    border-style: solid;
    border-width: 2pt;
}

@media screen and (max-width: 500px) {
    body {
        padding-top: 0;
    }
    
    main {
        width: auto;
        margin: 0;
    }

    .onefour, .onefive {
        width: auto;
        max-width: 100vw !important;
    }

    .downtown2{
        max-width: 100vw !important;
    }

    h4 {
        word-wrap: break-word;
    }

    .title {
        height: auto;
        margin: 0 0 3vh 0 !important;
    }

    .container {
        height: 15vh !important;
    }

    .first {
        height: inherit !important;
    }

    .intro {
        margin: 3vh 0 0 0 !important;
    }

    .discussion{
        width: 90vw !important;
    }
}

.uptown {
    color: #f6f6f6;
}

ul {
    padding-left: 2vw;
}

.side {
    padding: 0 0 0 5vw;
    height: 100%;
}

.image-container {
    position: relative;
    display: inline-block; /* So the size of the anchor is the same as the image */
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5); /* Black background with opacity */
    color: #f6f6f6;
    visibility: hidden;
    text-align: center;
    padding: 10px;
}

.image-container:hover .overlay-text {
    visibility: visible;
}


.blur {
    width: 100%;
    height: 100%;
}

.blur:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: filter 2s ease;
}

.imgside {
    height: 100%;
}

.blur, .imgside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: blink 3s infinite linear;
}




.title {
    font-size: 3.4vw;
    font-weight: 600;
    margin-bottom: 1rem;
    font-kerning: auto;
    position: relative;
    display: flex;
    justify-content: left;
    height: 10vh;
    padding: 5vh 0 0 0;
    margin: 0 0 8vh 0;
}

.title1 {
    position: absolute;
}

.title2 {
    position: absolute;
    /*
    animation: imgChange2 80s steps(1) forwards;
    */
}

.container {  
    position: relative;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 25vh;
}

.downtown {
    height: 100%;
    padding: 0 0 5vh 0;
}

.downtown2 {
    height: 100%;
    padding: 0 0 0 0;
}

#distort {
    padding: 0 10px 0 10px;
    color: #f6f6f6;
    background-color: #151515;
    animation: blink 3s infinite linear;
    word-wrap: break-word;
}


.intro {
    text-align: left;
    margin: 6vh 0 0 0; 
}

.entrance {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.intro1 {
    margin: 0 0 0 0;
}

.intro2, .onetitle, .secondtitle, .thirdtitle, .fourthtitle {
    margin: 4vh 0 2vh 0;
    font-weight: 600;
    font-size: 2vw;
    color: #4c4c4c;
}

.break {
    border-top: 1px solid #e3e3e3;
    height: 3px;
    width: 100%;
    margin: 1.5vh 0 0 0;
}

.one {
    display: flex;
    justify-content: left;
}

.oneone, .onetwo, .onethree {
    width: 30%;
}

.oneone, .onetwo {
    margin: 0 2vw 0 0;
}

.oneonetitle, .onetwotitle, .onethreetitle, .onefourtitle {
    font-weight: 500;
    font-size: 1.5vw;
    margin: 0 0 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

.onefour, .onefive {
    margin: 2vh 0 4vh 0;
    max-width: 40vw;
    font-weight: 500;
    color: #4c4c4c;
}

.space {
    width: 100%;
    height: 3vh;
}

.thoughts {
    color: rgb(0, 0, 0);
}

.next {
    color: #f6f6f6;
    animation: blink 3s infinite linear;
    text-decoration: none;
}

@keyframes blink {
    0% {
        opacity: .25;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .25;
    }
}

.discussion {
    color: #f6f6f6;
    width: 40vw;
}

.question, .answer {
    padding: 0 0 2vw 0;
}

.person2 {
    color: #FF00FF;
}